# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Atividades/Lista 8/chat.cpp
Atividades/Lista 8/exemplos/7.cpp
Atividades/Lista 8/exemplos/exemplo 2.cpp
Atividades/Lista 8/exemplos/exemplo procedimento.cpp
Atividades/Lista 8/exemplos/exemplo.cpp
Atividades/Lista 8/exemplos/procedimento 2.cpp
Atividades/Lista 8/teste.cpp
Atividades/Lista 9/10- lista 9.cpp
Atividades/Lista 9/10.cpp
Atividades/Lista 9/exemplo 1.cpp
Atividades/Lista 9/exemplo 2.cpp
Atividades/Lista 9/exemplo3.cpp
